@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* * SWIPER  */
#app {
  height: 100%;
}
html,
body {
  position: relative;
  height: 100%;
}

body {
  background: #eee;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

.swiper {
  width: 100%;
  height: 100%;
  overflow: visible !important;
}

.swiper-wrapper {
  position: relative;
  width: 1500px !important;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  transition-timing-function: var(
    --swiper-wrapper-transition-timing-function,
    initial
  );
  box-sizing: content-box;
}
.swiper-slide {
  width: 470px !important;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  text-align: start;
}

.swiper-slide img {
  width: 61px;
  height: 60px;
  margin-right: 10px;
}

.swiper-slide p {
  margin-bottom: 20px;
}

/* *SWIPER BUTTON  */
.swiper-button-prev,
.swiper-button-next {
  background-color: white;
  padding: 20px;
  width: 6.7% !important;
  height: 30% !important;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  border: 1px solid black;
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;

  position: absolute;
}

.swiper-button-prev {
  top: -162px !important;
  left: 80% !important;
}

.swiper-button-next {
  top: -162px !important;
  right: 5% !important;
}

.swiper-button-prev:hover,
.swiper-button-prev:active,
.swiper-button-next:hover,
.swiper-button-next:active {
  background-color: #d7f5dc;
  border: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-family: unset !important;
  padding-bottom: 5px !important;

  color: black;
}

.swiper-button-prev::after {
  content: url(../assets/leftarrow.png) !important;
  padding-right: 5px !important;
}
.swiper-button-next::after {
  padding-left: 5px !important;
  content: url(../assets/rightarrow.png) !important;
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}
